@import "base/_reset.scss";
@import "base/_variable.scss";
@import "base/_header.scss";
@import "base/_footer.scss";
@import "base/_common.scss";

._top {
    margin-top: 80px;
    ._title {
        letter-spacing: 1px;
        text-align: center;
        h2 {
            font-family: 'Cinzel-Regular';
            @include font-size(32);
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 0px;
                background-color: #d2b055;
                margin-left: 50%;
                margin-top: 5px;
            }
        }
        p {
            font-family: "微軟正黑體";
            @include font-size(18);
            margin-top: 15px;
        }
    }
    .select {
        margin: auto;
        margin-top: 70px;
        max-width: 520px;
        height: 55px;
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;
        position: relative;
        z-index: 1;
        .All,
        .menulist {
            width: calc(50% - 1px);
            @include flex-center;
            font-family: "微軟正黑體";
        }
        .All {
            background-color: #000;
            color: #fff;
            @include font-size(15);
            cursor: pointer;
            transition: all .5s ease;
            p {
                &:before {
                    font-family: 'icomoon';
                    content: "\e911";
                    margin-right: 20px;
                }
            }
        }
        .menulist {
            position: relative;
            .selectMenu {
                position: relative;
                @include font-size(15);
                height: 100%;
                width: 100%;
                background-color: #d9d9d9;
                @include flex-center;
                color: #171717;
                cursor: pointer;
                transition: all .5s ease;
                padding-right: 45px;
                &:before {
                    font-family: 'icomoon';
                    content: "\e912";
                    margin: 0 20px 0 10px;
                }
                &:after {
                    font-family: 'icomoon';
                    content: "\e90b";
                    position: absolute;
                    top: calc(50% - 7.5px);
                    right: 15px;
                    transition: all .8s ease;
                }
                p {
                    line-height: 1.5;
                }
                &.open {
                    &:after {
                        transform: rotateX(180deg);
                        transition: all .8s ease;
                    }
                }
            }
            ul {
                display: none;
                z-index: 1;
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                background-color: #303030;
                padding: 10px 5px;
                li {
                    margin: 5px 0;
                    cursor: pointer;
                    p {
                        color: rgba(255, 255, 255, .5);
                        @include font-size(12);
                        font-family: "微軟正黑體";
                        text-align: center;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        transition: all .3s ease;
                    }
                    &:hover {
                        p {
                            color: rgba(255, 255, 255, 1);
                            transition: all .3s ease;
                        }
                    }
                }
            }
        }
        &.black {
            .All {
                background-color: #d9d9d9;
                color: #171717;
                transition: all .5s ease;
            }
            .menulist {
                .selectMenu {
                    background-color: #000;
                    color: #fff;
                    transition: all .5s ease;
                }
            }
        }
    }
}


.content {
    max-width: 1235px;
    padding: 0 50px;
    margin: auto;
    margin-top: 80px;
    .grid {
        width: 100%;
        height: 100%;
        .box {
            width: calc(50% - 70px);
            margin-bottom: 130px;
            opacity: 0;
            &:nth-child(2) {
                margin-top: 80px;
            }
            a {
                &:hover {
                    .box_img {
                        img {
                            transform: scale(1.1);
                            transition:all 1s ease;
                        }
                    }
                }
            }
            .box_img {
                // max-width: 450px;
                @include flex-center;
                overflow: hidden;
                img {
                    transition:all .8s ease;
                }
            }
            .box_text {
                margin-top: 30px;
                letter-spacing: 1px;
                padding-left: 15px;
                h4 {
                    @include font-size(15);
                    font-family: 'Raleway-SemiBold';
                }
                h3 {
                    margin-top: 10px;
                    @include font-size(18);
                    font-family: "微軟正黑體";
                    color: #171717;
                    line-height: 1.5;
                }
                p {
                    @include font-size(13);
                    line-height: 1.5;
                    color: #4c4c4c;
                    margin-top: 15px;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    ._top {
        .select {
            .menulist {
                ul {
                    li {
                        padding: 5px 0;
                    }
                }
            }
        }
    }
    .content {
        padding: 0 5vw;
        .grid {
            .box {
                width: calc(50% - 60px);
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .content {
        .grid {
            .box {
                width: calc(50% - 35px);
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    ._top {
        padding: 0 5vw;
        margin-top: 8vh;
        ._title {
            h2 {
                @include font-size(28);
            }
            p {
                @include font-size(16);
            }
        }
        .select {
            margin-top: 10vh;
            .All {
                @include font-size(14);
            }
            .menulist {
                .selectMenu {
                    @include font-size(14);
                }
            }
        }
    }
    .content {
        margin-top: 12vh;
        margin-bottom: 50px;
        .grid {
            .box {
                width: 100%;
                margin-bottom: 14vh;
                .box_text {
                    margin-top: 25px;
                    padding: 0 10px;
                }
            }
        }
    }
}


@media only screen and (max-width: 350px) {
    ._top {
        .select {
            .menulist {
                .selectMenu {
                    &:after {
                        position: relative;
                        top: auto;
                        right: auto;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}



// 進場動畫專區
._title {
    h2 {
        animation: fadeInDown .8s both;
        &:after {
            animation: titleLine .5s both 1s;
        }
    }
    p {
        animation: fadeInDown .8s both .4s;
    }
}

.select {
    animation: fadeInUp 1s both .8s;
}

// 電腦板加平板
@media only screen and (min-width: 701px) {
    .content {
        .box {
            &.show {
                &:nth-child(1) {
                    animation: fadeInUp 1.2s both 1s;
                }
                &:nth-child(2) {
                    animation: fadeInUp 1.2s both 1.2s;
                }
                animation: fadeInUp 1.2s both;
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    .content {
        .box {
            &.show {
                &:nth-child(1) {
                    animation: fadeInUp 1.2s both 1s;
                }

                animation: fadeInUp 1.2s both;
            }
        }
    }
}