@import "base/_reset.scss";
@import "base/_variable.scss";
@import "base/_header.scss";
@import "base/_footer.scss";
@import "base/_common.scss";

// .detail_nav-------------------------------------
.detail_nav {
    display: flex;
    justify-content: space-between;
    max-width: 1540px;
    margin: auto;
    margin-top: 60px;
    padding: 0 50px;
    @include font-size(13);
    .series {
        span {
            margin-right: 5px;
            font-family: "微軟正黑體";
            letter-spacing: 1px;
            &:not(:last-child) {
                &:after {
                    content: "/";
                    margin-left: 5px;
                }
            }
        }
    } // 回到上一頁按鈕
    ._back {
        @include flex-center;
        cursor: pointer;
        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: #000;
            border-radius: 50%;
            color: #fff;

            &:before {
                font-family: 'icomoon';
                content: "\e908";
                margin-right: 1px;
            }
        }
        p {
            display: inline-block;
            font-family: 'Raleway-regular';
            letter-spacing: .5px;
            margin-left: 10px;
        }
    }
}

// ._title---------------------------------------------
._title {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 35px;
    h2 {
        max-width: 530px;
        margin: auto;
        @include font-size(28);
        font-family: "微軟正黑體";
        line-height: 1.5;
        color: #404040;
    }
    ._date {
        margin-top: 25px;
        p {
            font-family: 'Raleway-SemiBold';
            @include font-size(13);
            color: rgba(0, 0, 0, .5);
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 0px;
                background-color: #d2b055;
                margin-left: 50%;
                margin-top: 10px;
            }
        }
    }
    .socialMedia {
        margin-top: 30px;
        @include flex-center;
        p {
            font-family: 'Raleway-Bold';
            @include font-size(12);
            letter-spacing: 1px;
            color: #808080;
            margin-right: 16px;
        }
        span {
            margin: 0 6px;
            @include font-size(14);
            color: #303030;
            @include flex-center;
            width: 20px;
            height: 20px;
            border-radius: 2.5px;
            &.icon-facebook {
                &:hover {
                    color: #fff;
                    background-color: #3b5998;
                    transition: all .4s ease;
                }
            }
            &.icon-twitter {
                &:hover {
                    color: #5aaceb;
                    transition: all .4s ease;
                }
            }
        }
        .fb-like {
            margin-left: 24px;
            iframe{
                position: relative;
            }
        }
    }
}


// .detail_slick-----------------------------------------------------
.detail_slick {
    max-width: 1440px;
    padding: 0 245px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    ul {

        li {
            margin: 0 2px;
            padding-bottom: 30px;
            ._slick_img {
                @include flex-center;
                max-height: 640px;
                width: 100%;
                overflow: hidden;
                img {
                    height: 100%;
                    width: auto;
                    max-width: unset;
                    // transition: all .8s ease;
                }
                // &:hover {
                //     img {
                //         transform: scale(1.1);
                //         transition: all 1s ease;
                //     }
                // }
            }
        } // 點點設定
        .slick-dots {
            bottom: -12px;
            li {
                width: 5px;
                height: 5px;
                margin: 0 8px;
                button {
                    width: 5px;
                    height: 5px;
                    &:before {
                        opacity: 1;
                        width: 5px;
                        height: 5px;
                        position: relative;
                        color: #7f7f7f;
                        @include font-size(12);
                        transform: scale(.5);
                        display: block;
                    }
                }
                &:hover {
                    button {
                        &:before {
                            color: #d80b18;
                            opacity: 1;
                        }
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            color: #d80b18;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    } // slick箭頭
    .arrow {
        span {
            position: absolute;
            top: 50%;
            color: #8a8a8a;
            cursor: pointer;
            @include font-size(20);
            transition: all .4s ease;
            &:nth-child(1) {
                left: 125px;
            }
            &:nth-child(2) {
                right: 125px;
            }
            &:hover {
                color: #ccc;
                transition: all .4s ease;
            }
        }
    }
}


// .conten--------------------------------------
.content {
    max-width: 1320px;
    padding: 0 185px;
    margin: auto;
    margin-top: 60px;

    &>p {
        padding: 0 20px;
        font-family: "微軟正黑體";
        @include font-size(13);
        letter-spacing: 1px;
        color: #282828;
        line-height: 2;
        opacity: 0;
    }
    &>section {
        margin-top: 50px;
    } // 文字內容設定
    ._text {
        padding: 0 20px;
        letter-spacing: 1px;
        opacity: 0;
        h2 {
            @include font-size(18);
            font-family: "微軟正黑體";
            line-height: 1.5;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p {
            @include font-size(13);
            font-family: "微軟正黑體";
            color: #282828;
            line-height: 2;
        }
        a {
            color: #226dac;
            position: relative;
            display: inline-block;
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: #226dac;
                position: absolute;
                left: 0;
                bottom: 3px;
            }
        }

        ul {
            padding-left: 30px;
            margin-top: 20px;
            li {
                display: flex;
                align-items: center;
                padding-left: 20px;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 10px;
                } // li前的紅色方塊
                &:before {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 3px;
                    background-color: #d80b18;
                    margin-right: 12px;
                    position: absolute;
                    top: 12px;
                    left: 0;
                }
            }
        }
    }



    .type2,
    .type3,
    .type4,
    .type5 {
        padding-bottom: 30px;
        ._img {
            @include flex-center;
            position: relative;
            opacity: 0;
            div {
                overflow: hidden;
                width: 100%;

                img {
                    width: 100%;
                    // transition: all 1s ease;
                }
                // &:hover {
                //     img {
                //         transform: scale(1.1);
                //         transition: all 1s ease;
                //     }
                // }
            }
            i {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding-left: 20px;
                @include font-size(12);
                letter-spacing: 1px;
                line-height: 2;
                margin-top: 10px;
                font-family: "微軟正黑體";
                color: rgba(0, 0, 0, .8);
            }
        }
    } // type2圖片設定
    .type2 {
        .imgs {
            @include flex-space-between;
            margin-top: 30px;
            font-size: 0;
            ._img {
                width: calc(50% - 5px);
                div {
                    max-height: 300px;
                }
            }
        }
    } // type3圖片設定
    .type3 {
        ._img {
            margin-top: 30px;
            width: 100%;
        }
    } // type4,type5圖片設定
    .type4,
    .type5 {
        @include flex-space-between;
        ._text,
        ._img {
            width: calc(50% - 5px);
        }
        ._text {
            p {
                line-height: 1.6;
                a {
                    &:after {
                        bottom: 0px;
                    }
                }
            }
            ul {
                li {
                    &:before {
                        top: 10.4px;
                    }
                }
            }
        }
        ._img {
            margin-bottom: 0;
        }
    }

    .type5 {
        flex-direction: row-reverse;
    } // 回到上一頁按鈕
    .bt_back {
        margin-top: 160px;
        margin-left: calc(50% - 20px);
        margin-bottom: 190px;
        @include flex-center;
        flex-direction: column;
        width: 40px;
        cursor: pointer;
        span {
            border-radius: 50%;
            background-color: #000;
            width: 35px;
            height: 35px;
            @include flex-center;
            &:before {
                font-family: 'icomoon';
                content: "\e90f";
                color: #fff;
                @include font-size(12);

                margin-right: 1px;
                display: block;
            }
        }
        p {
            font-family: 'Raleway-regular';
            @include font-size(12);
            margin-top: 10px;
            letter-spacing: 1px;
        }
        &:hover {
            span {
                &:before {
                    animation: backRun .8s both;
                }
            }
        }
    }
}

// 回到上一頁按鈕hover動畫
@keyframes backRun {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-400%);
    }
    51% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(0);
    }
}

// 電腦螢幕1440px以下
@media only screen and (max-width: 1440px) {
    .detail_slick,
    .content {
        padding: 0 10vw;
    }
    .detail_slick {
        .arrow {
            span:nth-child(1) {
                left: 8vw;
            }
            span:nth-child(2) {
                right: 8vw;
            }
        }
    }
}

// 電腦螢幕1280px以下
@media only screen and (max-width: 1280px) {
    .detail_slick {
        .arrow {
            span:nth-child(1) {
                left: 6vw;
            }
            span:nth-child(2) {
                right: 6vw;
            }
        }
    }
}

// 平板尺寸
@media only screen and (max-width: 1024px) {
    .content {
        padding: 0 5vw;
    }
    .detail_slick {
        padding: 0 5vw;
        ul {
            li {
                ._slick_img {
                    height: 60vw;
                }
            }
        }
        .arrow {
            span {
                top: calc(50% - 30px);
                color: #666666;
                &:nth-child(1) {
                    left: 8vw;
                }
                &:nth-child(2) {
                    right: 8vw;
                }
                &:hover {
                    color: #666666;
                }
            }
        }
    }
}

// 平板尺寸900px以下
@media only screen and (max-width: 900px) {
    .detail_nav {
        padding: 0 5vw;
        justify-content: flex-end;
        .series {
            display: none;
        }
    }
    .content {
        .type4,
        .type5 {
            flex-direction: column;
            ._text,
            ._img {
                width: 100%;
            }
            ._img {
                margin-top: 4vh;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .detail_nav {
        margin-top: 4vh;
    }
    ._title {
        padding: 0 5vw;
        h2 {
            @include font-size(20);
        }
    }
    .content {
        &>p {
            padding: 0 10px;
        }
        ._text {
            padding: 0 10px;
            ul {
                padding-left: 0;
            }
        }
        .type2,
        .type3,
        .type4,
        .type5 {
            ._img {
                i {
                    top: calc(100% - 5px);
                }
            }
        }

        .type2 {
            .imgs {
                flex-direction: column;
                ._img {
                    width: 100%;
                    &:not(:last-child) {
                        margin-bottom: 50px;
                    }
                }
            }
        }
        .bt_back {
            margin-top: 12vh;
            margin-bottom: 8vh;
        }
    }
}

@media only screen and (max-width: 350px) {
    .content {
        &>p {
            padding: 0;
        }
        ._text {
            padding: 0;
        }
    }
}


// 進場動畫專區  (排列照出現順序)---------------------------------
// _title----------------------
._title {
    h2 {
        animation: fadeInDown 1s both;
    }
    ._date {
        animation: fadeInDown 1s both .2s;
        p {
            &:after {
                animation: titleH2Line .5s both 1s;
            }
        }
    }
    .socialMedia {
        animation: fadeInDown 1s both .6s;
    }
}

@keyframes titleH2Line {
    0% {
       
    }
    100% {
        width: 20px;
        transform:translateX(-10px);
    }
}


// .detail_slick-----------------
.detail_slick {
    animation: fadeIn 1.2s both .4s;
    .arrow {
        span {
            animation: fadeInUp .8s both .8s;
        }
    }
}


// .detail_nav-----------------
.detail_nav {
    .series {
        animation: fadeInUp 1s both 1s;
    }
    ._back {
        animation: fadeInRight 1s both 1s;
    }
}


// content-------------------
@media only screen and (max-width: 1024px) {
    .content {
        &>p {
            animation: fadeInUp 1s both 1s;
        }
    }
}

.content {
    &>p {
        &.show {
            animation: fadeInUp 1s both;
        }
    }
    ._text {
        &.show {
            animation: fadeInUp 1s both;
        }
    }
    ._img {

        &.show {
            animation: fadeIn 1s both;
            i {
                animation: fadeInUp .8s both .8s;
            }
        }
    }
}